
/* Reset default browser styles and use consistent box sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    font-family: 'Inter', sans-serif;
}

:root {
    font-family: 'Inter', sans-serif;
}

.welcome {
    color: white;
    font-size: 42px;
    display: flex;
    justify-content: center;
}