:root {
  --color-background: #ffffff;
  --color-text: #111111;
  --color-primary: #2563eb;
  --color-header-background: #000000;
  --color-header-text: #ffffff;
  --color-header-button: rgba(13, 29, 95, 0.418);
  --color-header-button-hover: rgba(28, 63, 203, 0.418);
  --color-header-button-border: rgba(0, 0, 0, 0.418);

}