:root {
  --color-background:#0B1120;
  --color-text: #111111;
  --color-primary: #2563eb;
 --color-header-background: linear-gradient(
  to bottom,
  #0B1120,
  #17255400
);
  --color-header-text: #ffffff;
  --color-header-button: #2563EB;
  --color-header-button-hover: #0F172A;
  --color-header-button-border: #3B82F6;
  --color-header-button-border-hover: #60A5FA;
  --color-header-menu-item-underline: #ffffff;


}