.headerContainer {
  background: var(--color-header-background);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 100px;
  display: flex;
  padding: 0 100px;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
    height: 70px;
}

.name {
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: 'Inter', sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
  
}

.menuItem {
  color: var(--color-header-text);
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

.menuItem::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: var(--color-header-menu-item-underline);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.menuItem:hover::after {
  transform: scaleX(1);
}

.cvButton {
  background: var(--color-header-button);
  border: 2px solid var(--color-header-button-border);
  border-radius: 25px;
  color: var(--color-header-text);
  font-size: 16px;
  width: 150px;
  height: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:  0.3s ease;
}

 .cvButton:hover{
  background: var(--color-header-button-hover);
  color: var(--color-header-text);
  border-color: var(--color-header-button-border-hover);

}

